.container {
    margin-top: 8rem;
    /*background-image: url("grass.jpg");*/
    /*background-size: cover;*/
    /*z-index: 0;*/
}

.hideMole {
    display: none;
}

.moleContainer {
    min-height: 13rem;
    max-width: 30rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.moleHole {
    margin-bottom: 2px;
    width: 12rem;
    height: 4rem;
    background-color: black;
    border-radius: 100px / 50px;
    z-index: 1;
}

.mole {
    width: 10rem;
    height: 10rem;
    z-index: 2;
    position: absolute;
}